/*Golden State Warriors Quiz App CSS*/

body, html {
  height: 100%;
}

.navbar {
  background-color: black;
  border-color: black;
  height: 100px;
  margin-bottom: 0px;
}

.logo {
  margin: 10px 0px 10px 44px;
}

.title {
  position: relative;
  left: 180px;
  bottom: 90px;
  color: #006BB6;
  text-shadow: 2px 2px 2px #FDB927;
}
/*play again button*/
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  position: relative;
  left: 1063px;
  top: -149px;
}

body {
  background-color: black;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.main {
  width: 90%;
  margin: 0 auto;   
}

.strength {
  margin-top: 110px;
}

.take-quiz {
  text-align: center;
  position: relative;
  bottom: 40px;
}

a:link {
  text-decoration: none;
}

.quiz-btn {
  background-color: #006BB6;
  border-color: #006BB6;
  color: white;
  font-size: 22px;
  position: relative;
  bottom: 25px;
  right: 18px; 
}

.quiz-btn:hover{
  background-color: #FDB927;
  border-color: #FDB927;
  color: black;
}

#question-top {
  padding-top: 100px;
}

.game-area {
  background: url(../img/gsw-fans3.jpg);
  background-size: 100% 60%;
}

h3 {
  margin: 30px auto 10px auto;
  line-height: 140%;
}

.quiz {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  color: #fff;
}

.quiz-ans {
  width: 80%;
  margin: 150px auto;
  text-align: center;
  color: #fff;
}

label {
  display: inline-block;
  width: 300px;
  margin: 0 auto;
  font-size: 22px;
  letter-spacing: .5px;
  text-align: left;
}

input[type='radio'] {
  float: left;
  margin: 8px 8px 0 0;
}  

.results-area {
  background: url(../img/gsw2.jpg);
  background-size: 100% 50%;
}

.results-btn {
  background-color: #006BB6;
  border-color: #006BB6;
  color: white;
  font-size: 22px;
}

.results-btn:hover{
  background-color: #FDB927;
  border-color: #FDB927;
  color: black;
}

.see-results {
  text-align: center;
  margin-bottom: 30px;
}

.results-summary {
  width: 80%;
  margin: 100px auto 50px auto;
  text-align: center;
  color: white;
}

.message {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.show-answers {
  font-size: 22px;
  text-align: center;
  list-style: none;
  color: white;
  margin: 30px auto;
  line-height: 35px;
  width: 55%;
}

.correct {
  border: 2px solid #006BB6;
  border-radius: 25px;
  padding: 10px;
}

.wrong {
  border: 2px solid red;
  border-radius: 25px;
  padding: 10px;
}

.results {
  margin-top: -60px;
}

.again {
  position: relative;
  left: 1070px;
  bottom: 148px;
  background-color: #FDB927;
}

