/*Golden State Warriors Quiz App CSS*/

.navbar {
  background-color: black;
  border-color: black;
  height: 100px;
  margin-bottom: 0px;
}

.logo {
  margin: 10px 0px 10px 152px;
}

.title {
  position: relative;
  left: 308px;
  bottom: 90px;
  color: #006BB6;
  text-shadow: 2px 2px 2px #FDB927;
}

body {
  background-color: black;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.main {
  width: 90%;
  margin: 0 auto;   
}

.strength {
  margin-top: 70px;
}

.take-quiz {
  text-align: center;
  position: relative;
  bottom: 30px;
}

a:link {
  text-decoration: none;
}

.quiz-btn {
  background-color: #006BB6;
  border-color: #006BB6;
  color: white;
  font-size: 20px;
}

.quiz-btn:hover{
  background-color: #FDB927;
  border-color: #FDB927;
  color: black;
}

.game-area {
  background-image: url(../img/gsw-fans.jpg);
}


.quiz-ques {
  width: 80%;
  margin: 100px auto 50px auto;
  text-align: center;
  color: white;
}

.quiz-ans {
  width: 80%;
  margin: 150px auto;
  text-align: center;
  color: white;
}
